$font-primary: "Blippo", "Palatino Linotype", serif;
$font-secondary: "Blippo", "Palatino Linotype", serif;
$font-modesto: "Modesto Condensed", "Palatino Linotype", serif;;
$font-hero: "Blippo", "Palatino Linotype", serif;