<div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}} {{#if tokenId}}data-token-id="{{tokenId}}>
    <div class="card-results">
        <div class="dice-roll">
            
        </div>
    </div>
</div>

