.character-sheet {
  width: 715px;
  min-width: 775px;
}

.foundrymnm3e.sheet.actor {
  .window-content {
    background: white;
  }

  ul.attributes {
    flex: 0 0 60px;
    list-style: none;
    margin: 0;
    padding: 0;

    li.attribute {
      height: 63px;
      margin: 0 5px 0 0;
      border: 2px solid #eeede0;
      border-radius: 4px;
      text-align: center;
      background-color: rgba(133, 255, 139, 0.342);

      &:last-child {
        margin: 0;
      }

      .attribute-value {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        line-height: 28px;
        font-family: $font-primary;
        font-size: 20px;
        font-weight: 700;

        &.multiple {
          margin-top: 1px;

          .extrapp {
            //border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            flex: 0 0 35%;
            margin: 1px;
            height: 99%;

            label {
              flex-shrink: 1;
            }

            input {
              flex-grow: 3;
              background: rgba(80, 226, 112, 0.7);
              height: 98%;
            }
          }

          span.sep {
            flex: none;
            margin: 0 1px;
            display: inline;
            position: relative;
            color: #7a7971;
            font-weight: normal;
          }

          .ppspent {
            flex: 0 0 58px;
            border-radius: inherit;
            font-weight: 400;
            background: transparent;
          }
        }
      }
    }
  }

  .attributes {
    .pl {
      flex: 0 0 200px;
    }

    .wounds {
      flex: 0;
    }

    .initiative {
      flex: 0 0 100px;

      .attribute-label {
        cursor: pointer;
      }

      &:hover {
        background-color: rgba(102, 141, 250, 0.486);
        cursor: pointer;
      }
    }

    .attribute {
      position: relative;
      height: 70px;
      margin: 0;
      border: none;
      border-right: 2px groove #eeede0;
      border-radius: 0;
      padding: 2px;

      .attribute-label {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 25px;
        top: -3px
      }

      .attribute-name {
        position: relative;
        height: 18px;
        line-height: 16px;
        margin: 4px 8px 2px;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 18px;
        color: #4b4a44;
        border-bottom: 1px solid #c9c7b8;
        white-space: nowrap;
      }

      .attribute-value {
        height: 30px;
        width: 50px;
        line-height: 30px;
        text-align: center;
        background: rgba(80, 226, 112, 0.7);
        border: 1px solid;
        border-radius: 5px;

        &.multiple {
          width: auto;
          background: rgba(80, 226, 112, 0.4);
          border: transparent;
        }

        &:disabled {
          background: rgba(80, 226, 112, 0.4);
          border: transparent;
        }
      }

      &.wounds {
        background-color: rgba(255, 149, 149, 0.7) !important;

        .attribute-value {
          width: 70px;
          background-color: rgba(201, 86, 86, 0.4) !important;
        }
      }
    }
  }

  .features-header {
    flex: 0 0 44px;
    text-shadow: white 0 0 1px;
    text-align: center;
  }

  ul.skills-list {
    width: 500px !important;
    margin-top: 0px;
  }

  ul.ability-list,
  ul.defense-list,
  ul.skills-list {
    flex: 0 0 180px;
    list-style: none;
    width: 370px;
    //margin: 0 5px 0;
    padding: 0;
    border: 2px groove #eeede0;
    border-radius: 3px;

    li.ability,
    li.defense,
    li.skill {
      height: 24px;
      padding: 3px 2px;

      &:nth-child(even) {
        background: rgba(0, 0, 0, 0.07);
      }

      .ability-value,
      .defense-value,
      .skill-value {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 20px;
        line-height: 28px;
        font-family: "Blippo", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        margin-left: 1px;
        margin-right: 1px;
      }

      .skill-value {
        width: 20px !important;
        line-height: 10px !important;
        border: 1px solid;
        border-radius: 5px;
      }

      .ability-div {
        flex: 0 0 166px;
      }

      .defense-div {
        flex: 0 0 250px;
      }

      .skill-ability {
        flex: 0 0 26px;
        text-transform: capitalize;
        margin-right: 10px;
      }

      .skill-mod {
        flex: 0 0 20px;
      }
    }

    .abl {
      margin-left: -10px;
      margin-right: 3px;
    }

    .skill-name-controls {
      flex: 0 0 180px;
      position: relative;

      .config-button {
        right: 10px;
        top: 0px;
        font-size: 15px;
        position: absolute;
        display: none;
      }

      &:hover .config-button {
        display: block;
      }
    }

    .checkmarks {
      flex: 0 0 10%;
      position: relative;

      .toggle1 {
        font-size: 15px;
        margin-left: 10px;
        position: absolute;
      }

      .toggle2 {
        font-size: 15px;
        margin-left: 30px;
        position: absolute;
      }
    }
  }

  .disabler {
    background-color: black;
    color: white;
    outline: transparent;
  }

  .purchased {
    background: rgba(226, 134, 81, 0.6) !important;

    &:disabled {
      background: rgba(226, 134, 81, 0.2) !important;
      border: transparent;
    }
  }

  .misc {
    background: rgba(80, 226, 99, 0.6) !important;

    &:disabled {
      background: rgba(80, 226, 99, 0.2) !important;
      border: transparent;
    }
  }

  .originalstat {
    background: rgba(226, 81, 105, 0.6) !important;

    &:disabled {
      background: rgba(226, 81, 105, 0.2) !important;
      border: transparent;
    }
  }

  .auto {
    background: rgba(80, 226, 219, 0.6) !important;

    &:disabled {
      background: rgba(80, 226, 219, 0.2) !important;
      border: transparent;
    }
  }

  .total {
    background: rgba(161, 61, 156, 0.6) !important;

    &:disabled {
      background: rgba(161, 61, 156, 0.2) !important;
      border: transparent;
    }
  }

  .ac {
    background: rgba(167, 167, 167, 0.6) !important;

    &:disabled {
      background: rgba(167, 167, 167, 0.2) !important;
      border: transparent;
    }
  }

  .impervious {
    background: rgba(130, 122, 236, 0.6) !important;

    &:disabled {
      background: rgba(130, 122, 236, 0.2) !important;
    }
  }

  .pptooltip {
    visibility: hidden;
    width: 200px;
    background-color: rgba(213, 255, 215, 255);
    //background-color: black;
    //color: #fff;
    text-align: center;
    border: 2px solid #eeede0;
    border-top: none;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 0px 5px 5px 2px;

    position: absolute;
    top: 159px;
    left: 218px;
    z-index: 1;
    font-family: $font-primary;

    .flexlarge {
      font-size: 18px;
      font-weight: 700;
      color: #4b4a44;
    }

    .value {
      flex: 0 0 58px;
      font-size: 20px;
      font-weight: 400;
      background-color: rgba(160, 243, 174, 255);
      border-radius: 5px;
    }
  }
  
  .open {
    visibility: visible !important;
  }
}