<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1><label>Extras and Flaws list</label></h1>
  </header>
  <div>
    <ul>
      {{!--{{#each }} --}}
    </ul>
  </div>
</form>